body {
  margin: 0;
  width: 100vw;

  overflow-x: hidden;

  /**
    ACA IRIA EL LOADING DE LA FUENTE
  */

  font-family: "Open Sans", sans-serif;
}
/*SECCION CHARACTERS */


.characters{
  width: 60%;
  margin:auto;
  font-family:  museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
color: rgb(72, 72, 72);
font-size: 1.3125rem;
font-weight: 700;
margin-block: 0px;
line-height: 1.4;
}

  .container{
  display:grid;/*display indica como se va a mostrar el contenido */
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  }


  .fondo {
  transition-duration:0.5s;
  border-radius: 0.75rem;
  position: relative;
  overflow-clip-margin: content-box;
  overflow: clip;
  width: 100%;
  box-sizing: border-box;
  background-size:50px 50px;


    }
  .fondo:hover{
  background-size: cover;
  transition-duration: 0.5s;
  }

  .mainImg {
  position:relative;
  bottom: -10px;
  left: 0;
  width: 100%;  
  height: 100%; 
  transition-duration:0.5s
  }
  .mainImg:hover{
  transform: scale(1.1,1.1);
  }
  .fondo1{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/mario-bg");}

  .fondo2{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/Character Portals/The Legend of Zelda/1600x1600_background_02");}

  .fondo3{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/Character Portals/Ncom_CharacterRail_1600x1600_Splatoon_BG");}

  .fondo4{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/Character Portals/1600x1600_NCOM_Home_Characters_Kirby_BG");}

  .fondo5{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/CREATIVE-1295-CharacterSection-Background-Pikmin_v02");}

  .fondo6{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/CREATIVE-1295-CharacterSection-Background-AnimalCrossing");}

  .fondo7{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/CREATIVE-1295-CharacterSection-Background-Metroid_v01");}

  .fondo8{background:url("https://assets.nintendo.com/image/upload/q_auto/f_auto/c_fill,h_300,w_300/dpr_2.0/ncom/en_US/merchandising/CREATIVE-1295-CharacterSection-Background-Pokemon_v01");}

  @media screen and (max-width:760px) {
    .container{
      display:grid;/*display indica como se va a mostrar el contenido */
      grid-template-columns:1fr 1fr;
      grid-gap: 20px;
      }
  
      body, html {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      section{
        width: 85%!important;
      }
   
      
  }
  /*FINAL SECCION CHARACTERS*/