@font-face {
  font-family: "museo-sans-700";
  src: url(museo-sans/MuseoSans_700.ttf);
}

.titulo{
    font-size: 1.75rem;  
    font-weight: 700;
    margin-block: 0px;
    line-height: 1.35;
}

.subtitulo{
    font-size: 1.3125rem;
    min-height: 1rem;
    margin: 1em 0px;
    font-weight: 300;
}

.titulo-card-principal{
}

.titulo-card-secundaria{
}

.texto-boton{
}

.links{
}

.dropdown-navbar{
}
